<p>Hello there,</p>
<p>Your order <strong>#<%= orderId %></strong> has been shipped.</p>
<div>----------- <strong>Order Details</strong> --------------</div>
<div>Product:  <%= product %></div>
<div>Quantity:  <%= quantity %></div>
<div>Price:  <%= price %></div>
<div>Total:  <%= total %></div>
